<div class="form-group">
                        <label>Phone Number</label>
                        <table>
                        <tr>
                        <td>
                        <select class="form-control" style="float: left;">
                            <option value="+63905">0905</option>                                    
                            <option value="+63906">0906</option>                                   
                            <option value="+63907">0907</option>                                    
                            <option value="+63908">0908</option>                                    
                            <option value="+63909">0909</option>                                    
                            <option value="+63910">0910</option>                                    
                            <option value="+63912">0912</option>                                    
                            <option value="+63915">0915</option>                                    
                            <option value="+63916">0916</option>                                    
                            <option value="+63917">0917</option>                                    
                            <option value="+63918">0918</option>                                    
                            <option value="+63919">0919</option>                                    
                            <option value="+63920">0920</option>                                    
                            <option value="+63921">0921</option>                                    
                            <option value="+63922">0922</option>                                    
                            <option value="+63923">0923</option>                                   
                            <option value="+63926">0926</option>                                    
                            <option value="+63927">0927</option>                                    
                            <option value="+63928">0928</option>                                    
                            <option value="+63929">0929</option>                                    
                            <option value="+63930">0930</option>                                    
                            <option value="+63932">0932</option>                                    
                            <option value="+63933">0933</option>                                    
                            <option value="+63935">0935</option>                                    
                            <option value="+63936">0936</option>                                    
                            <option value="+63937">0937</option>                                    
                            <option value="+63938">0938</option>                                    
                            <option value="+63939">0939</option>                                    
                            <option value="+63942">0942</option>                                    
                            <option value="+63943">0943</option>                                    
                            <option value="+63946">0946</option>                                    
                            <option value="+63947">0947</option>                                    
                            <option value="+63948">0948</option>                                    
                            <option value="+63949">0949</option>                                    
                            <option value="+63989">0989</option>                                    
                            <option value="+63996">0996</option>                                    
                            <option value="+63997">0997</option>                                    
                            <option value="+63999">0999</option>                                          
                        </select>
                        </td>
                        <td>
                        <input class="form-control" style="float:left;" type="text" />
                        </td>
                        </tr>
                        </table>
                    </div>